
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #faf0e6;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffdead;
    padding: 20px;
}

h1, h2 {
    color: #b22222;
}

.hatira-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.hatira-item {
    background-color: #fff;
    border: 2px solid #b22222;
    padding: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.hatira-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
